footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2078dc;
    padding: 16px;
    p{
        font-size: 18px;
        color: white;
    }
    ul{
        display: flex;
        list-style: none;
        li{
            display: flex;
            background-color: white;
            border-radius: 50%;
            margin: 6px;
            padding: 12px;
            img{
                height: 15px;
            }
        }
    }
}